In [76]:
import mysql.connector

In [81]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Henshaw5",
    database="test"
    )

In [82]:
mycursor = db.cursor()

In [83]:
#mycursor.execute("CREATE TABLE Person (name VARCHAR(20), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT)")

In [84]:
#mycursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)", ("Joe", 19))
#db.commit()
#mycursor.execute("SELECT * FROM Person")

In [85]:
#for x in mycursor:
    #print(x)

In [86]:
#mycursor.execute("CREATE TABLE sit (name varchar(20) NOT NULL, created datetime NOT NULL, gender ENUM('M', 'F', '0') NOT NULL, id int PRIMARY KEY NOT NULL AUTO_INCREMENT)")

In [87]:
#mycursor.execute("INSERT INTO sit (name, created, gender) VALUES(%s,%s,%s)", ("TIM", datetime.now(), "M"))
#db.commit()

In [88]:
#mycursor.execute("SELECT * FROM Test WHERE gender * 'M' ORDER BY id DESC")
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('testdata',)
('testdatabase',)
('world',)

In [75]:
for x in mycursor:
    print (x)